body {
    background-color: #000000;
}
h2,h3 {
    color: #FFFFFF; text-align: center;
}
#spinbutton {
    width: 500 ; height: 70; background-color: #000000;
}
#balance{
    width: 500; height: 30;
}
#bety{
    width: 250 ; height: 20; padding-top: 20px; padding-left: 20px;
}

.main_wrap {
    width: 500px;
    margin: 0 auto;
}

.insufficientFunds{
    text-align:center;
    width:100%;
}

.hidden{
    display:none;
}